@import 'tailwindcss';
@import "tailwindcss-primeui";
@import './fonts.css';
@import 'primeicons/primeicons.css';
@theme{
    --color-title-sidebar: #7C7C7C;
    --color-base: #222222;
}
@layer base {
    html {
        font-size: 16px;
    }

    @media (min-width: 1920px) {
        html {
            font-size: 16px;
        }
    }

    @media (min-width: 2860px) {
        html {
            font-size: 18px;
        }
    }
    @media (min-width: 5000px) {
        html {
            font-size: 50px;
        }
    }
    body{
        font-family: 'SVN-Poppins', sans-serif !important;
    }
}

div.wraper-login-form {
    background-image: url("@images/bg_login.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}